.ribbon-animation__slideshow {
  animation: ribbon-animation__slideshow linear infinite alternate;
  animation-duration: 40s !important;
}

@keyframes ribbon-animation__slideshow {
  to {
    translate: -50%;
  }
}
